<!DOCTYPE html>
<html>
<head>
<title>Help Page</title>
<link rel='stylesheet' href='./css/styles.css'>
</head>
<body>
    <div class="main-content">
    {{>header}}
    <p>This content will be updated soon.</p>
    </div>

    </header>
    <footer>
    {{>footer}}
    </footer>
    
</body>
</html>